# This is a basic workflow to help you get started with Actions

name: Workflow1

# Controls when the workflow will run
on:
  workflow_dispatch:
    inputs: 
      workflow2_name:
        description: 'Workflow2 Name for Triggering'
        required: true
        default: 'Workflow2'
      
      workflow2_github_account:
        description: 'GitHub Account Owner'
        required: true
        default: 'araju-sinha'
      
      workflow2_repo_github:
        description: 'GitHub Repository Name'
        required: true
        default: 'workflow_trigger_try2'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env: 
      pat_token: ${{ secrets.Workflow2_PAT_TOKEN_GITHUB }}
 #     payload_Baseline_Number: "BSL_001"
 #     payload_Baseline_Revision: "zsfdgsdbgngffdwdx1dxvv2"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
       - name: testing echo
         run: echo "workflow1 running"
         
       - name: trigger W2
         run: echo "try to trigger workflow_trigger_try2"
         
       - uses: convictional/trigger-workflow-and-wait@master
         with:
           owner: ${{inputs.workflow2_github_account}}
           repo: ${{inputs.workflow2_repo_github}}
           github_token: ${{ secrets.Workflow2_PAT_TOKEN_GITHUB }}
           workflow_file_name: ${{inputs.workflow2_name}}
         

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
  #    - uses: actions/checkout@v3

 #       with:
 #        python-version: 3.8 #install the python needed
         
#       - name: Install dependencies
#         run: |
#            cd "$GITHUB_WORKSPACE/Deployment-Scripts/"
#            python -m pip install --upgrade pip
#            pip install -r requirements.txt
          
#       - name: Trigger the Workflow
#         run: |
#          cd "$GITHUB_WORKSPACE/Deployment-Scripts/"
#          python $GITHUB_WORKSPACE/Deployment-Scripts/workflow_trigger.py ${{ env.pat_token }}  ${{ github.event.inputs.workflow2_github_account}}  ${{ github.event.inputs.workflow2_repo_github}} ${{ github.event.inputs.workflow2_name}} ${{ env.payload_Baseline_Number }} ${{ env.payload_Baseline_Revision }}
    
